body {
  background-color: white;
  background-image: url(background.png);
  padding-left: 40px;
}

H1 {
  font-family: "Courier", sans;
  color: #506b9e;
  text-align: center;
}

H2 {
  color: #28354f;
}

TT {
  color: #003000;
}

pre {
  border: 1px solid #999999;
  color: #004000;
  padding: 2px;
  font-family: "Courier 10 pitch", "Courier", monospace;
}

a {
  font-weight: bolder;
}

table.lined {
  border: 1px solid #999999;
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
}
table.lined td {
  border: 1px solid #999999;
  vertical-align: top;
  padding: 5px;
}
table.lined th {
  border: 1px solid #999999;
  vertical-align: top;
  font-size: smaller;
  font-weight: bolder;
  color: #506b9e;
}

UL LI {
  list-style-image: url(/icons/via.gif);
  margin-left: -14px;
  }
